{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>       
    <div class="body-wrapper">
        <div class="container-fluid ">
            <div> 
                <div class="table-responsive mt-lg-4 mt-2 rounded p-4" style="background-color: rgb(0, 0, 0);color: white;">
                    <h1 class="text-light">View Price Lists</h1>
                    <br>

                    <div class="row ">
                        <div class="col-md-4">
                            <input type="text" id="search" class="form-control text-dark bg-light" placeholder="Search here..." autocomplete="off">
                        </div>
                        <div class="col-md-1">
                            <select id="status-select" class="form-control border border-warning select2">
                                <option value="all" data-icon="fa fa-filter">&#xf0b0; Filter</option>
                                <option value="all">All</option>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <select id="sort-select" class="form-control border border-warning select2">
                                <option value="all" data-icon="fas fa-sort">&#xf0b0; Sort</option>
                                <option value="all">All</option>
                                <option value="name">Name</option>
                                <option value="type">Type</option>
                            </select>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <a href="" target="_blank" class="btn btn-outline-warning">
                                <i class="fa fa-file-export" style="color: #FFD43B;" aria-hidden="true"></i> Export
                            </a>
                            <a href="" target="_blank" class="btn btn-outline-warning">
                                <i class="fa fa-file-import" style="color: #FFD43B;" aria-hidden="true"></i> Import
                            </a>
                            <a href="whatsapp://send?text=Check out these price lists:" target="_blank" class="btn btn-outline-warning">WhatsApp</a>
                            <a href="mailto:?subject=Price Lists&body=Check out these price lists:" target="_blank" class="btn btn-outline-warning">Email</a>
                            <a href="{% url 'create_price_list' %}" class="btn btn-warning">New</a>
                        </div>
                    </div>
                    


                    <!-- price lists table -->
                    <div class="table-responsive " style="overflow-x:auto;margin-top: 20px;">
                        <table id="table" class="table " >
                            <thead class="thead-dark text-light">
                                <tr style="text-align: center;">
                                    <th scope="col"><b>#</b></th>
                                    <th scope="col"><b>DATE</b></th>
                                    <th scope="col"><b>NAME</b></th>
                                    <th scope="col"><b>DESCRIPTION</b></th>
                                    <th scope="col"><b>TYPE</b></th>
                                    <th scope="col"><b>ROUNDING</b></th>
                                    <th scope="col"><b>STATUS</b></th>
                                    <th scope="col"><b>DETAILS</b></th>
                                    <th scope="col"><b>ACTION</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for price_list in price_lists %}
                                <tr class="text-white" style="text-align: center;">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ price_list.date }}</td>
                                    <td>{{ price_list.name }}</td>
                                    <td>
                                        {% if price_list.description %}
                                            <span title="{{ price_list.description }}">
                                                <i class="fa fa-comment" aria-hidden="true"></i> 
                                            </span>
                                        {% else %}
                                            <i class="fa fa-comment-o" aria-hidden="true"></i> 
                                        {% endif %}
                                    </td>
                                    
                                    <td>{{ price_list.type }}</td>
                                    <td class="text-white">
                                        {% if price_list.item_rate_type == 'Percentage' %}
                                            {{ price_list.round_off }}
                                        {% elif price_list.item_rate_type == 'Each Item' %}
                                            Never Mind
                                        {% endif %}
                                    </td>
                                    <td>{{ price_list.get_status_display }}</td>
                                    <td ><a href="{% url 'price_list_details' price_list.id %}" class="text-warning">View</a></td>
                                    <td style="text-align: center;">
                                        <a href="{% url 'delete_price_list' price_list.id %}">
                                            <i class="fa fa-trash text-warning" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            
                            </tbody>
                        </table>
                    </div>
                </div><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-Ev2QLO/xB7oWe9yZ9ZKfNL4/rI91JcxVwDorGnS8mpE4K2H8lPcJbXbu+U53SknxLvEO2Dg4I3nk2f6r59dzWg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-JBnKdD6fzZxB1sdbBUz0qwZRiA84ZgeBp6T5qL/zUa8z+prM7zvmknGQn6uAkeTn5uaqQpIs4s6f6FLSbNPGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-Bk2IxCYIbW6l0/mD4YKs/wE6xxvCEjVyQVuRj2VuTKlf6Ayb6BjdrM6OtqLZiVNiGKcFtdNPxXEhR9Wx4sLh9g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>
    $(document).ready(function() {
        $('.select2').select2({
            templateResult: formatOption
        });
    });

    function formatOption(option) {
        if (!option.id) {
            return option.text;
        }
        var $option = $(
            '<span><i class="' + $(option.element).data('icon') + '"></i> ' + option.text + '</span>'
        );
        return $option;
    }
</script>
    <script>
        $(document).ready(function() {
          var $rows = $('#table tbody tr');
          $('#search').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function() {
              var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
              return !~text.indexOf(val);
            }).hide();
          });
        });
      </script>

     

    <script>
        $(document).ready(function () {
            $('#sort-select').change(function () {
                var sortBy = $(this).val();
                window.location.href = '?sortBy=' + sortBy;
            });
            $('#status-select').change(function () {
                var filterByStatus = $(this).val();
                window.location.href = '?filterByStatus=' + filterByStatus;
            });
        });
    </script>
</body>
</html>




{% endblock %}
              









