{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>       
    <div class="body-wrapper">
        <div class="container-fluid ">
            <div> 
                <div class=" mt-lg-4 mt-2 rounded p-4" style="background-color: rgb(0, 0, 0);color: white;">
                    <h1 class="text-light">View Price Lists</h1>
                    <br>
                    {% if messages %}
                            {% for message in messages %}
                                <label id="messageLabel" for="" class="text-center bg-warning mt-3 mb-3" style="width: 100%;color:white;text-shadow: 2px 2px 4px #000000;padding: 10px; border-radius: 10px;">{{message}}</label>
                            {% endfor %}
                        {% endif %}

                    <div class="row  h-100 ">
                        <div class="col-md-4">
                            <input type="text" id="search" class="form-control text-dark bg-light" placeholder="Search here..." autocomplete="off">
                        </div>
                        <div class="col-md-1">
                            <div class="input-group-append h-100" >
                                <button class="btn btn-outline-warning" type="button" data-bs-toggle="dropdown">
                                    <i class="fa fa-filter"></i> 
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="?filter=all{% if sort_option != 'all' %}&sort={{ sort_option }}{% endif %}">All</a>
                                    <a class="dropdown-item" href="?filter=active{% if sort_option != 'all' %}&sort={{ sort_option }}{% endif %}">Active</a>
                                    <a class="dropdown-item" href="?filter=inactive{% if sort_option != 'all' %}&sort={{ sort_option }}{% endif %}">Inactive</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="input-group-append h-100">
                                <button class="btn btn-outline-warning" type="button" data-bs-toggle="dropdown">
                                    <i class="fas fa-sort"></i> 
                                </button>
                                <div class="dropdown-menu" aria-labelledby="sortDropdownMenu">
                                    <a class="dropdown-item" href="?sort=all{% if filter_option != 'all' %}&filter={{ filter_option }}{% endif %}">All</a>
                                    <a class="dropdown-item" href="?sort=name{% if filter_option != 'all' %}&filter={{ filter_option }}{% endif %}">Name</a>
                                    <a class="dropdown-item" href="?sort=type{% if filter_option != 'all' %}&filter={{ filter_option }}{% endif %}">Type</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end h-100">
                            <a href="#" id="exportBtn" class="btn btn-outline-warning ms-1">
                                <i class="fa fa-file-export" style="color: #FFD43B;" aria-hidden="true"></i> Export
                            </a>
                            
                            
                            <a href="#" id="importBtn" class="btn btn-outline-warning ms-1">
                                <i class="fa fa-file-import ms-1" style="color: #FFD43B;" aria-hidden="true"></i> Import
                            </a>
                            
                            <a href="{% url 'create_price_list' %}" class="btn btn-warning ms-1">New</a>
                        </div>
                    </div>
                    <div class="modal fade" id="EmailModal">
                        <div class="modal-dialog modal-xl">
                          <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
                            <div class="modal-header" style="background: rgb(32, 35, 37);">
                              <h5 class="m-3 text-uppercase" id="EmailModalLabel" style="color: #fefefe;">Share Item Transactions Via Email</h5>
                              <button type="button" class="close" style="width: 30px;" data-dismiss="modal" aria-label="Close"><span
                                  aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body" style="background: rgb(32, 35, 37);">
                              <div class="card p-3 m-3">
                                <form action="{% url 'email_all_price_lists' %}" method="post" class="needs-validation"
                                  id="share_to_email_form" autocomplete="off">
                                  {% csrf_token %}
                                  <div class="form-group">
                                    <label for="emailIds" style="color: #000;">Email IDs</label>
                                    <input class="form-control text-dark"  style="color: #000;" name="email_ids" id="emailIds" rows="5"
                                      placeholder="Multiple emails can be added by separating with a comma(,)." required >
                                  </div>
                                  <div class="form-group mt-2">
                                    <label for="item_unitname"  style="color: #000;">Message(optional)</label>
                                    <textarea name="email_message"  style="color: #000;" id="email_message" class="text-dark form-control" cols=""
                                      rows="4" placeholder="This message will be sent along with details."></textarea>
                                  </div>
                           
                              </div>
                              <div class="modal-footer d-flex justify-content-center" style="border-top: 1px solid #ffff;">
                                <!-- <button type="submit">submit</button> -->
                                <input type="submit" id="share_with_email"
                                  class="submitShareEmailBtn rounded-pill text-grey w-50 my-4 mx-3" value="SEND MAIL">
                              </div>
                            </div>
                          </form>
                          </div>
                        </div>
                    </div>
                    


                    <!-- price lists table -->
                    <div class="table-responsive " style="overflow-x:auto;margin-top: 20px;">
                        <table id="table" class="table " >
                            <thead class="thead-dark text-light">
                                <tr style="text-align: center;">
                                    <th scope="col"><b>#</b></th>
                                    <th scope="col"><b>DATE</b></th>
                                    <th scope="col"><b>NAME</b></th>
                                    <th scope="col"><b>DESCRIPTION</b></th>
                                    <th scope="col"><b>TYPE</b></th>
                                    <th scope="col"><b>ROUNDING</b></th>
                                    <th scope="col"><b>STATUS</b></th>
                                    <th scope="col"><b>DETAILS</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for price_list in price_lists %}
                                <tr class="text-white" style="text-align: center;">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ price_list.date }}</td>
                                    
                                    <td><a href="{% url 'price_list_details' price_list.id %}" class="text-reset text-decoration-none">{{ price_list.name }}</td></a>
                                
                                    <td>
                                        {% if price_list.description %}
                                            <span title="{{ price_list.description }}">
                                                <i class="fa fa-comment" aria-hidden="true"></i> 
                                            </span>
                                        {% else %}
                                            <i class="fa fa-comment-o" aria-hidden="true"></i> 
                                        {% endif %}
                                    </td>
                                    
                                    <td>{{ price_list.type }}</td>
                                    <td class="text-white">
                                        {% if price_list.item_rate_type == 'Percentage' %}
                                            {{ price_list.round_off }}
                                        {% elif price_list.item_rate_type == 'Each Item' %}
                                            Never Mind
                                        {% endif %}
                                    </td>
                                    <td>{{ price_list.get_status_display }}</td>
                                    <td>
                                        {% if price_list.item_rate_type == 'Percentage' %}
                                            {{ price_list.percentage_type }}
                                        {% elif price_list.item_rate_type == 'Each Item' %}
                                            Each Item
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-Ev2QLO/xB7oWe9yZ9ZKfNL4/rI91JcxVwDorGnS8mpE4K2H8lPcJbXbu+U53SknxLvEO2Dg4I3nk2f6r59dzWg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-JBnKdD6fzZxB1sdbBUz0qwZRiA84ZgeBp6T5qL/zUa8z+prM7zvmknGQn6uAkeTn5uaqQpIs4s6f6FLSbNPGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-Bk2IxCYIbW6l0/mD4YKs/wE6xxvCEjVyQVuRj2VuTKlf6Ayb6BjdrM6OtqLZiVNiGKcFtdNPxXEhR9Wx4sLh9g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspdf-autotable@3.7.5/dist/jspdf.plugin.autotable.js"></script>
<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

<script>
    document.getElementById('importBtn').addEventListener('click', function() {
        // Simulate input file click
        var input = document.createElement('input');
        input.type = 'file';
        input.accept = '.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel';
        input.addEventListener('change', handleFileSelect);
        input.click();
    });

    
        function handleFileSelect(event) {
            var file = event.target.files[0];
    
            if (file) {
                Papa.parse(file, {
                    header: true,  // Assuming the first row contains headers
                    complete: function(results) {
                        // `results.data` contains parsed data, handle it accordingly
                        console.log(results.data);
    
                        // Get the table body
                        var tableBody = document.getElementById('table').getElementsByTagName('tbody')[0];
    
                        // Iterate through results.data and add rows to the table
                        results.data.forEach(function(row) {
                            // Create a new row
                            var newRow = tableBody.insertRow(tableBody.rows.length);
    
                            // Populate cells with data
                            newRow.insertCell(0).textContent = row['#'];
                            newRow.insertCell(1).textContent = row['DATE'];
                            newRow.insertCell(2).textContent = row['NAME']; 
                            newRow.insertCell(3).textContent = row['DESCRIPTION'];
                            newRow.insertCell(4).textContent = row['TYPE'];
                            newRow.insertCell(5).textContent = row['ROUNDING'];
                            newRow.insertCell(6).textContent = row['STATUS'];
                            newRow.insertCell(7).textContent = row['DETAILS']; 
                            // Add more cells based on your table structure
                        });
                    }
                });
            }
        }

    

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

<script>
    document.getElementById('exportBtn').addEventListener('click', function() {
        
        var table = document.getElementById('table');
        var ws = XLSX.utils.table_to_sheet(table);

        
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'PriceLists');

        
        var fileName = 'PriceLists.xlsx';
        XLSX.writeFile(wb, fileName);
    });
</script>




<script>
    $(document).ready(function () {
        $('#shareWhatsapp').click(function () {
            var htmlFilePath = 'zohomodules/price_list/pdf_all_price_lists.html';

            $.get(htmlFilePath, function (htmlContent) {
                html2pdf(htmlContent, {
                    margin: 10,
                    filename: 'PriceLists.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
                }).then(function (pdf) {
                    var pdfBlob = pdf.output('blob');
                    var pdfUrl = URL.createObjectURL(pdfBlob);

                    var whatsappLink = 'whatsapp://send?text=Check out these price lists: ' + pdfUrl;

                    window.location.href = whatsappLink;
                });
            });
        });
    });
</script>





<script>
    $(document).ready(function() {
        $('.select2').select2({
            templateResult: formatOption
        });
    });

    function formatOption(option) {
        if (!option.id) {
            return option.text;
        }
        var $option = $(
            '<span><i class="' + $(option.element).data('icon') + '"></i> ' + option.text + '</span>'
        );
        return $option;
    }
</script>
    <script>
        $(document).ready(function() {
          var $rows = $('#table tbody tr');
          $('#search').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function() {
              var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
              return !~text.indexOf(val);
            }).hide();
          });
        });
      </script>

     

    <script>
        $(document).ready(function () {
            $('#sort-select').change(function () {
                var sortBy = $(this).val();
                window.location.href = '?sortBy=' + sortBy;
            });
            $('#status-select').change(function () {
                var filterByStatus = $(this).val();
                window.location.href = '?filterByStatus=' + filterByStatus;
            });
        });
    </script>
    
</body>

</html>
{% endblock %}