{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>

    <div class="body-wrapper">
        <div class="container-fluid">
            <div class="overflow-auto">

                <h1 class="text-white">Create Price List</h1>
                <form method="post" action="{% url 'create_price_list' %}" id="priceListForm">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="name" class="text-white">Name:</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label class="text-white">Type:</label><br>
                        <label class="radio-inline text-white">
                            <input type="radio" name="type" value="Sales" required> Sales
                        </label>
                        <label class="radio-inline text-white">
                            <input type="radio" name="type" value="Purchase" required> Purchase
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="text-white">Tax Preference:</label><br>
                        <label class="radio-inline text-white">
                            <input type="radio" name="item_rate_type" value="Percentage" required>
                            Markup/Markdown by Percentage
                        </label>
                        <label class="radio-inline text-white">
                            <input type="radio" name="item_rate_type" value="Each Item" required>
                            Enter Rate Individually for Each Item
                        </label>
                    </div>

                    <div id="percentageFields" class="form-group hidden">
                        <label class="text-white">Percentage:</label><br>
                        <select name="percentage_type" class="form-control">
                            <option value="Markup">Markup</option>
                            <option value="Markdown">Markdown</option>
                        </select>
                        <label for="percentage_value" class="text-white">Percentage Value:</label>
                        <input type="number" name="percentage_value" class="form-control">
                    </div>

                    <div id="eachItemFields" class="form-group hidden">
                        <label for="round_off" class="text-white">Round Off:</label>
                        <select name="round_off" class="form-control">
                            <option value="Never Mind">Never Mind</option>
                        </select>

                        <label for="currency" class="text-white">Currency:</label>
                        <select name="currency" class="form-control">
                            <option value="Indian Rupee">Indian Rupee</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description" class="text-white">Description:</label>
                        <textarea name="description" rows="2" class="form-control" required></textarea>
                    </div>

                    <h2>Customize Item Rates in Bulk</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Item Details</th>
                                <th>Standard Rate (INR)</th>
                                <th>Custom Rate (INR)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.item_name }}</td>
                                <td>{{ item.selling_price }}</td>
                                <td>
                                    <input type="number" name="items" value="{{ item.id }}-{{ item.selling_price }}"
                                        class="form-control">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('priceListForm');
            var percentageFields = document.getElementById('percentageFields');
            var eachItemFields = document.getElementById('eachItemFields');

            form.addEventListener('change', function () {
                var itemRateType = document.querySelector('input[name="item_rate_type"]:checked').value;

                if (itemRateType === 'Percentage') {
                    percentageFields.classList.remove('hidden');
                    eachItemFields.classList.add('hidden');
                } else if (itemRateType === 'Each Item') {
                    percentageFields.classList.add('hidden');
                    eachItemFields.classList.remove('hidden');
                }
            });
        });
    </script>

</body>

</html>

{% endblock %}
