{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>
    <div class="body-wrapper">
        <div class="container-fluid">
            <div>
                <div class="row p-4 rounded" style="background-color: black; border-radius: 5px">
                    <div class="col-md-4 p-2" style="border-right: 5px solid rgb(219, 219, 219); background-color: black;">
                        <h4 class="text-light mb-4">All Price Lists</h4>
                        <div class="  d-flex mb-3 ">
                            <div class="input-group">
                                <input type="text" id="search"  class="form-control text-dark bg-light " placeholder="Search..." autocomplete="off">
                            </div>
                            <!-- <div class="dropdown">
                                <button class="btn btn-light btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort <i class="fa fa-sort text-warning" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="?sort=all{% if filter_option != 'all' %}&filter={{ filter_option }}{% endif %}">All</a>
                                    <a class="dropdown-item" href="?sort=name{% if filter_option != 'all' %}&filter={{ filter_option }}{% endif %}">Name</a>
                                    <a class="dropdown-item" href="?sort=type{% if filter_option != 'all' %}&filter={{ filter_option }}{% endif %}">Type</a>
                                </div>
                            </div> -->
                            <div class="input-group-append ms-1">
                                <button class="btn btn-outline-warning" type="button" data-bs-toggle="dropdown">
                                    <i class="fas fa-sort"></i> 
                                </button>
                                <div class="dropdown-menu" aria-labelledby="sortDropdownMenu">
                                    <a class="dropdown-item text-dark" href="?sort=all{% if filter_option != 'all' %}&filter={{ filter_option }}{% endif %}">All</a>
                                    <a class="dropdown-item text-dark" href="?sort=name{% if filter_option != 'all' %}&filter={{ filter_option }}{% endif %}">Name</a>
                                    <a class="dropdown-item text-dark" href="?sort=type{% if filter_option != 'all' %}&filter={{ filter_option }}{% endif %}">Type</a>
                                </div>
                            </div>
                            <div class="input-group-append ms-1">
                                <button class="btn btn-outline-warning" type="button" data-bs-toggle="dropdown">
                                    <i class="fa fa-filter"></i> 
                                </button>
                                <!-- <button class="btn btn-light btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Filter <i class="fa fa-filter text-warning" aria-hidden="true"></i>
                                </button> -->
                                <div class="dropdown-menu text-dark">
                                    <a class="dropdown-item text-dark" href="?filter=all{% if sort_option != 'name' %}&sort={{ sort_option }}{% endif %}">All</a>
                                    <a class="dropdown-item text-dark" href="?filter=active{% if sort_option != 'name' %}&sort={{ sort_option }}{% endif %}">Active</a>
                                    <a class="dropdown-item text-dark" href="?filter=inactive{% if sort_option != 'name' %}&sort={{ sort_option }}{% endif %}">Inactive</a>
                                </div>
                            </div>
                            <a class="btn btn-outline-warning  ms-1" href="{% url 'create_price_list' %}" role="button"> New </a>
                        </div>
                        <ul id="priceListNames">
                            {% for pl in price_lists %}
                                <li><a href="{% url 'price_list_details' price_list_id=pl.id %}" class="text-warning">{{ pl.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-8">
                        {% if price_lists %}
                        <h2 class="text-light mb-4">{{ price_list.name }}</h2>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'edit_price_list' price_list.id %}" class="btn btn-outline-warning" role="button"><i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i></a>
                            <div class="dropdown ms-2">
                                <button class="btn btn-outline-warning" type="button" data-bs-toggle="dropdown">
                                    <i class="fa-solid fa-share-nodes"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-dark" >Share to WhatsApp</a>
                                    <a class="dropdown-item text-dark" >Share to Email</a>
                                    
                                </div>
                            </div>
                            <button class="btn btn-outline-warning ms-2" onclick="printPriceList()"><i class="fa fa-print" aria-hidden="true"></i></button>
                            <button class="btn btn-outline-warning ms-2" onclick="generatePDF()"><i class="fa fa-file-pdf"></i></button>
                            <div class="dropdown ms-2">
                                <button class="btn btn-outline-warning" type="button" data-bs-toggle="dropdown">
                                    <i class="fa-regular fa-comment"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-dark" href="#" data-toggle="modal" data-target="#addCommentModal">Add Comment</a>
                                    <a class="dropdown-item text-dark" href="#" data-toggle="modal" data-target="#viewCommentsModal">View Comments</a>
                                </div>
                            </div>
                            <button class="btn btn-outline-warning ms-2" onclick="attachFile()"><i class="fa-solid fa-paperclip"></i></button>
                            <button class="btn btn-outline-warning ms-2"><i class="fa-solid fa-trash"><a href="{% url 'delete_price_list' price_list.id %}"></a></i></button>
                            <button id="toggleStatusButton" class="btn btn-outline-warning ms-2" data-status="{{ price_list.status }}" onclick="toggleStatus()">
                                {% if price_list.status == 'Active' %}
                                Active
                                {% elif price_list.status == 'Inactive' %}
                                Inactive
                                {% endif %}
                            </button>
                        </div>
                        <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addCommentModalLabel">Add Comment</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="{% url 'add_comment' price_list.id %}">
                                            {% csrf_token %}
                                            <label for="comment_text">Comment:</label>
                                            <input type="text" name="comment_text" class="form-control" required>
                                            <button type="submit" class="btn btn-outline-warning mt-3">Add Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="viewCommentsModal" tabindex="-1" role="dialog" aria-labelledby="viewCommentsModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="viewCommentsModalLabel">View Comments</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'view_comment' price_list.id %}">
                                            <ul>
                                                {% for comment in price_list_comments %}
                                                <li style="color: black;">{{ comment.comment }}</li>
                                                <li style="color: black;">{{ comment.date_added }}</li>
                                                {% endfor %}
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="details-container mt-3 ml-3 rounded p-4" style="background-color: rgba(86, 86, 86, 0.827);">
                            <div class="bg-light rounded p-3" style="color: black;">
                                <h3 style="color: black;" class="text-center">{{ price_list.name }} Details</h3>
                                <div class="ml-10">
                                    <p><b>Type:</b> {{ price_list.type }}</p>
                                    <p><b>Description:</b> {{ price_list.description }}</p>
                                    <p><b>Details:</b> {{ price_list.percentage_type }}; {{ price_list.percentage_value }}%</p>
                                    <p><b>Rounding:</b> {{ price_list.round_off }}</p>
                                    <p><b>Currency:</b> {{ price_list.currency }}</p>
                                    <!-- <p class="text-light ms-2">Created by: {{ creator.username }}</p> -->
                                </div>
                            </div>
                        </div>
                        <!-- display transaction history -->
                        <h3>Transaction History</h3>
                        <ul>
                            {% for transaction in transaction_history %}
                            <li>{{ transaction.action }} on {{ transaction.date }} by {{ transaction.login_details.username }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No price list selected.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   

<script src="https://kit.fontawesome.com/76ed4bac95.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-Ev2QLO/xB7oWe9yZ9ZKfNL4/rI91JcxVwDorGnS8mpE4K2H8lPcJbXbu+U53SknxLvEO2Dg4I3nk2f6r59dzWg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-JBnKdD6fzZxB1sdbBUz0qwZRiA84ZgeBp6T5qL/zUa8z+prM7zvmknGQn6uAkeTn5uaqQpIs4s6f6FLSbNPGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-Bk2IxCYIbW6l0/mD4YKs/wE6xxvCEjVyQVuRj2VuTKlf6Ayb6BjdrM6OtqLZiVNiGKcFtdNPxXEhR9Wx4sLh9g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<script>
    $(document).ready(function() {
        var $li = $('#priceListNames li'); 
        $('#search').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $li.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    });
</script>

      <script>
        function sortPriceLists() {
            var $ul = $('#priceListNames ul');
            var items = $ul.children('li').get();
            items.sort(function(a, b) {
                var keyA = $(a).text();
                var keyB = $(b).text();
                return keyA.localeCompare(keyB);
            });
            $ul.append(items);
        }
          function filterPriceLists() {
              var $ul = $('#priceListNames ul');
              var filter = 'Active'; 
              $ul.children('li').hide().filter(function() {
                  return $(this).text().includes(filter);
              }).show();
          }
      </script>
    <script>
        


        function sharePriceList() {
        }

        function printPriceList() {
            window.print();
        }

        function generatePDF() {
        }

        function addComment() {
        }

        function attachFile() {
        }

        function toggleStatus() {
            const priceListId = {{ price_list.id }};
            window.location.href = `/toggle_price_list_status/${priceListId}/`;
        }
    </script>

</body>
</html>

{% endblock %}
